.gameContainer {
  width: 150px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.gameTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.image {
  object-fit: cover;
  cursor: pointer;
  transition: filter 250ms ease-in-out, transform 250ms ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  &.selected {
    filter: blur(1px) brightness(70%) grayscale(25%);
  }
}
