.gameContainer {
  width: 150px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}

.gameTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.image {
  object-fit: cover;
  cursor: pointer;
  transition: transform 250ms ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.selected {
  filter: sepia(100%) contrast(85%) opacity(80%) saturate(120%) hue-rotate(236deg);
}
