.container {
	position: relative;
}

.selectButton {
	width: 100%;
	max-width: fit-content;
	padding: 1.25rem .625rem;
	font-size: 1.25rem;
	border-radius: 100px;
	background-color: transparent;
	border: var(--neutral-100) 2px solid;
	display: flex;
	align-items: center;
	gap: 1.25rem;
	cursor: pointer;
	text-transform: capitalize;
}

.optionsContainer {
	width: 100%;
	background-color: var(--neutral-800);
	border-radius: .5rem;
	display: flex;
	flex-direction: column;
	max-width: 12.5rem;
	gap: .5rem;
	padding: .625rem;
	position: absolute;
	top: 70px;
	left: 10px;
	border: var(--neutral-100) 2px solid;
}

.option {
	background: none;
	cursor: pointer;
	font-size: 1rem;
	border: none;
	text-align: left;
	text-transform: capitalize;
}
